.pets{
    display: flex;
    gap: 54%;
    
}
body{
    margin-left: 14%;
    margin-top: 5%;
}
.yourpet{
    color: black;
    font-weight: bold;
    font-size: 208%;
}
.navbar a{
    color: gray;
}
.family{
    font-size: 410%;
    color: #262535;
}
.we{
    color: gray;
    font-size: 180%;
}
.playbut{
    display: flex;
    gap: 10%;
}
.hero img{
    margin-left: 13%;
  
}
.player {
    background: none;
    width: 50px;
    height: 50px;
   
    border-radius: 100%;
    position: relative; 
    text-indent:-9999px;
    box-shadow: 1px 1px 3px #999999;
  }
  
  .player span {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 20px solid rgb(27,160,171);
    border-bottom: 15px solid transparent;
    position:absolute;
    top:20%;
    left:36%;    
  }
  
  .player:hover{
    background:#4ccaea;
    cursor:pointer;
    opacity:0.8;
    border:none;
    position:absolute;  
    width: 60px;
    height: 60px; 
    box-shadow:none;
  }
  .player:hover span{
    top:25%;
    left:38%;
  }
.heroimg{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10%;
}
.bst{
    font-size: 214%;
}
.services{
    display: flex;
    gap: 23%;
}
.which{
    font-size: 250%;
    color: #262535;
}
.radio{
    font-weight: bold;
    font-size: 165%;
}
.lexa{
    display: grid;
    grid-template-columns: auto auto;
}
.icons{
    display: flex;
    gap:17%
}
.college{
    font-size: 120%;
    color: grey;
}
.contact{
    background-color: #59BCC4;
    background-color: #1BA0AB;
    border-radius: 12px;
    /* width: 31%; */
    padding: 13px 28px;
    border: none;
    color: #ffff;
    font-size: 180%;
    
}
.nurse{
    background-color: #E9FAFC;
    padding: 145px 152px;
    display: flex;
    gap: 1px;
}
.pic1{
    width: 15%;
    border-radius: 55%;
    
}
.picc1{
    display: flex;
    gap: -10%;
}
.interested{
    display: flex;
    gap: 15%;
}
.threepics{
    display: flex;
    gap: 20%;
}
.subscribe{
    background-color: #E9FAFC;
    padding: 45px 52px;
}
.sub{
    position: absolute;
    border: none;
    padding: 45px 62px;
    width: 65%;
    font-size: 134%;

}
.line-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .orange-line {
    width: 50px; /* Adjust the width of the line as needed */
    height: 3px;
    background-color: orange;
    margin-right: 10px; /* Add space between the line and text */
  }
  
  .line-text {
    font-size: 24px;
    font-weight: bold;
    color: orange;
  }
.getstarted{
    background-color: #1BA0AB;
    border-radius: 12px;
    /* width: 31%; */
    padding: 15px 31px;
    border: none;
    color: #ffff;
    font-size: 180%;
}

.signup{
    position: relative;
    translate: (-50%, -50%);
   margin-left: 55%;
   top: 45%;
}
.fam{
    margin-top: 13%;
}
.diagnose{
    font-size: 120%;
}
#footer{
    display: flex;
    flex-direction: row;
    gap: 90px;
    
}

#subscribe{
    background-color: rgb(227,242,237);
    width: 1000px;
    text-align: center;
    padding: 29px 39px;
}
#subd{
    background-color: #59BCC4;
    background-color: #1BA0AB;
    border-radius: 12px;
    /* width: 31%; */
    padding: 13px 28px;
    border: none;
    color: #ffff;
    font-size: 180%;
}

.input{
    height: 90px;
    width: 280px;
    border-radius: 10%;
    border: none;
}

@media (min-width:375px) and (max-width:435px) {
    .heroimg{
        display: block;
    }
    .icons{
        display: block;
        align-items: center;
    }
    .nurse{
        display: block;
    }
    .interested{
        display: block;
    }
    .threepics{
        display: block;
    }
    .nurse img{
        width: 84%;
    }
    .threepics img{
        width:84% ;
    }
    .services{
        display: block;
    }
    #subscribe{
        width: 24%;
    }
    #footer{
        display: block;
       text-align:center;
    }
    .input{
        width: 83%;
    }
    .navbar{
        margin-left: -12%;
    }
    .nurse{
        display: flex;
        flex-direction: column;
    }
}
/* @media (min-width:360px) {
    .navbar{
       font-size: 23%;
       margin-left: -91%;
       margin-top: 15%;
    }
    .icons{
        display: block;
        
    }
    .nurse{
        display: block;
    }
    .threepics{
        display: block;
    }
    #subscribe{
        width: 24%;
    }
    #footer{
        display: block;
       text-align:center;
    }
    .line-text{
        font-size: 64%;
    }
    .family{
        font-size: 64%;
    }
    .we{
        font-size: 64%;
    }
    .heroimg{
        display: block;
    }
    .hero {
        width: 53%;
    }
    .getstarted{
        background-color: #1BA0AB;
        border-radius: 12px;
        /* width: 31%; */
        /* padding: 12px 12px;
        border: none;
        color: #ffff;
        font-size: 50%;
    }
    .player {
        background: none;
        width: 50px;
        height: 50px;
       
        border-radius: 100%;
        position: relative; 
        text-indent:-9999px;
        box-shadow: 1px 1px 3px #999999;
      }
      .player {
        background: none;
        width: 50px;
        height:40px;
        border-radius: 100%;
        position: relative; 
        text-indent:-9999px;
        box-shadow: 1px 1px 3px #999999;
      }
      .player span {
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-left: 20px solid rgb(27,160,171);
        border-bottom: 15px solid transparent;
        position:absolute;
        top:20%;
        left:36%;    
      }
      .services{
        display: block;
      }
      .which{
        font-size: 94%;
      }
      .weare{
        font-size: 59%;
      }
      .radio{
        font-size: 84%;
      }
      .diagnose{
        font-size: 64%;
      }
      .interested{
        display: block;
      }
      .int{
        font-size: 71%;
      }
      .really{
        font-size: 59%;
      }
      .neil{
        width: 65%;
      }
      #subd{
        background-color: #59BCC4;
        background-color: #1BA0AB;
        border-radius: 12px;
        /* width: 31%; */
        /* padding: 13px 28px; */
        /* border: none;
        color: #ffff;
        font-size: 80%;
      }
      #footer{
        margin-left: -40%;
        font-size: 80%;
      }
      .input{
        margin-left: -50%;
        
      }
     

    
} */ 